version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: express
    ports:
      - "8081:8081"
    depends_on:
      - mongodb

  your-app:
    image: my-app:v1.1
    ports:
      - "3000:3000"
    environment:
      MONGODB_URI: "mongodb://admin:password@mongodb:27017/mydatabase"
    depends_on:
      - mongodb

volumes:
  mongodb_data: